# ignore terdlets

*.ali
*.o


# ignore these test links

core_h.ads
types.ads
snames.ads
namet.ads
alloc.ads
table.ads
hostparm.ads
atree.ads
sinfo.ads
uintp.ads
urealp.ads
einfo.ads
nlists.ads
sem_util.ads
nmake.ads
elists.ads
sinput.ads
stringt.ads
casing.ads
exp_dbug.ads
lib.ads
sem_aux.ads
